{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-blogpage{% endblock %}


{% block content %}
    <main class="page-wrapper">
        <header class="header navbar navbar-expand-lg shadow-sm" style="background: linear-gradient(to right, #020310, #181a4d); height: 300px; padding-top: 20px;">
            <div class="container px-3 d-flex flex-column align-items-center" style="height: 100%;">
                <div class="d-flex justify-content-between align-items-center w-100 mb-4">
                    <a href="/" class="navbar-brand pe-3 d-flex align-items-center">
                        <img src="{% static 'blog/assets/img/logo.svg' %}" width="100">
                    </a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="d-none d-lg-flex">
                        <a href="https://revats.ai" class="btn btn-primary btn-sm fs-sm rounded me-2" target="_blank" rel="noopener">Get Started</a>
                        <a href="https://revats.ai" class="btn btn-outline-light btn-sm fs-sm rounded" target="_blank" rel="noopener">Log In</a>
                    </div>
                </div>
                <div class="">
                    <h6 class="text-white mb-0 fw-light"><span style="color: #eea9fa; font-family: JetBrains Mono, Monospace;">HOME / BLOG/ </span>{{ page.title }}</h6>
                    <h1 class="fw-light mb-5" style="color: #eea9fa;">{{ page.title }}</h1>
                </div>
            </div>
        </header>

        <section class="container w-75 mt-5 mb-lg-5 pb-5">
            <div class="container">
                <div class="row row-cols-lg-1 row-cols-sm-1 row-cols-1">
                    <div class="col pb-3">
                        <article class="card border-0 shadow-sm h-100">
                            <div class="position-relative">
                               
                                <!-- Adjusted image section -->
                                <div class="blog-image-container text-center">
                                    {% if page.gallery_images.all %}
                                        <!-- If gallery images exist, display them -->
                                        {% for item in page.gallery_images.all %}
                                            <div style="position: relative; margin-bottom: 10px;">
                                                {% image item.image fill-1200x675 class="blog-image" %}
                                                <div class="overlay">
                                                    <p>{{ item.caption }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <!-- If no gallery images, use the main image fallback -->
                                        {% with page.main_image as main_image %}
                                            {% if main_image %}
                                                <div style="min-height: 15rem;">
                                                    {% image main_image fill-1200x675 class="blog-image" %}
                                                </div>
                                            {% else %}
                                                <p>No image available</p>  <!-- Fallback message if no image -->
                                            {% endif %}
                                        {% endwith %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-body pb-4">
                                <h3 class="h5 mb-0 fw-500">{{ page.title }}</h3>
                                <div class="d-flex align-items-start justify-content-between mb-3">
                                    <span class="fs-sm text-muted">{{ page.date|date:"M d, Y" }}</span>
                                </div>
                                <p class="mt-5">{{ page.intro }}</p>
                                {{ page.body|richtext }}
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        
    </main>
{% endblock %}
